:root{
    --maincolor: #fc4d72;
}

body{
    height: 5000px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--maincolor) ;
    font-weight: 700;
}

.projects .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color:var(--maincolor);
    
}
